html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: 'rgb(255, 255, 255)';
  color: 'rgba(0,0,0,0.8)';
}